html 
    head 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        title Tabulka
        style
            include styles.css
    body
        main
            h1 #{nadpis}
            table 
                thead 
                    tr 
                        th Jméno 
                        th Příjmení
                        th Množství vody (v L)
                        th Věk
                tbody 
                    each pl in players 
                        tr 
                            td  #{pl.name}        
                            td  #{pl.surname}
                            td  #{pl.water}
                            td  #{pl.age}